

.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: top 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: top 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1100;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: inset 0px -1px 1px var(--muidocs-palette-grey-100);
  background-color: rgba(255,255,255,0.8);
}
.header .menu{
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 56px;
}